<h1>Saved Contacts:</h1>

<ul>
  <% @contacts.each() do |contact| %>
  <li><a href='/contacts/<%= contact.id() %>'><%= contact.email_handle() %></a></li>
  <% end %>
</ul>

<p><a href='/contacts/new'>Add a new contact</a></p>
