<h1>Add a new contact</h1>

<p>Add a new contact here:</p>

<form action="/contacts" method="post">


  <label for="contact">Contact email.</label>
  <input id="email_handle" name="email_handle" type="text">

</br>
  <label for="first">First Name</label>
  <input name="first" name="first" type="text"> -->
</br>
  <label for="last">Last Name</label>
  <input name="last" name="last" type="text">
</br>
  <label for="home">Home Phone</label>
  <input name="home" name="home" type="text">
</br>
  <label for="work">Work Phone</label>
  <input name="work" name="work" type="text">
</br>
  <label for="home_address">Home Address</label>
  <input name="home_address" name="home_address" type="text">
</br>
  <label for="work_address">Work Address</label>
  <input name="work_address" name="work_address" type="text">
  <button type="submit">Submit all info</button>
</form>
