<h1>Add a new contact</h1>

<p>Add a new contact here:</p>

<form action="/contacts" method="post">
  <label for="contact">Contact email handle</label>
  <input name="contact" type="text">
  <button type="button">Add Contact</button>
</form>
